{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block content %}
<div class='bg-gray-800 text-white p-5 md:py-8 md:px-20 lg:px-40 xl:px-60'>
  <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Projects Completed</p>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='350px' height='180px' img src="{% static 'images/it-workshop.png' %}" alt="Workshop Image">
          <div>
            <p style="font-family: Poppins-Bold" class="font-bold text-xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 via-blue-300 to-blue-600">IT-Workshop-Computer-Maintenance<p>
            <p class='text-justify my-3'>A Laravel 8-based IT support system for DEFTEC, optimizing device ticket management, email alerts, and insightful statistics</p>
            <ul class='mb-3'>
              <li>&#9989; Developed a ticketing system using PHP - Laravel</li>
              <li>&#9989;  Performs CRUD operations to work.</li>
              <li>&#9989;  Modern UI design and simple-to-use desktop software.
              </li>
            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-php"></i> PHP</span>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-solid fa-server"></i> SQL</span>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-solid fa-php"></i> Laravel</span>
            </div>
          </div>
      </div>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='350px' height='180px' img src="{% static 'images/deftec-web.png' %}" alt="image">
          <div>
            <p style="font-family: Poppins-Bold" class="font-bold text-xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 via-blue-300 to-blue-600">DEFTEC Atachees Web - Bootstrap 5</p>
            <p class='text-justify my-3'>Web Blueprint user interface design project that utilizes HTML, Bootstrap CSS and JavaScript to create a visually appealing and functional website. The project was created with an emphasis on user-centered design principles, ensuring easy navigation and visually pleasing design.</p>
            <ul class='mb-3'>
              <li>&#9989; Bootsrap 5 </li>
              <li>&#9989; Web Blueprint</li>
              <li>&#9989; Responsive Design</li>
            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-html5"></i> HTML</span>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-css3-alt"></i> CSS</span>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-square-js"></i> Js</span>
            </div>
            <div class='flex space-x-4 my-3'>
              <a href='https://github.com/IsaacZachary/DEFTECWEB'  target = '_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'><i class="bi bi-github"></i> Github</button></a>
              <a href='https://isaaczachary.github.io/DEFTECWEB/' target = '_blank'><button class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'>Demo <i class="bi bi-box-arrow-up-right"></i></button></a>              
            </div>
          </div>
      </div>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='350px' height='180px' img src="{% static 'images/portfolio-figma.png' %}" alt="image">
          <div>
            <p style="font-family: Poppins-Bold" class="font-bold text-xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 via-blue-300 to-blue-600">portfolio Template - Figma UI</p>
            <p class='text-justify my-3'>My figma portfolio is a comprehensive website template that offers a variety of useful UI. The web template was created using figma, and has a modern and user-friendly design.</p>
            <ul class='mb-3'>
              <li>&#9989; Wide range of tools.</li>
              <li>&#9989; Responsive Design</li>
              <li>&#9989; Dark Mode Supported</li>
            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
              <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-figma"></i> Figma</span>
            </div> 
            <div class='flex space-x-4 my-3'>
              <a href='https://github.com/IsaacZachary/portfolio'  target = '_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'><i class="bi bi-github"></i> Github</button></a>
              <a href='https://www.figma.com/file/BvMmkd30eNzTtO9zpCAh15/PortFolio-by-Isaac-Zachary(Community)?type=design&node-id=0-1&mode=design' target = '_blank'><button class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'>Demo <i class="bi bi-box-arrow-up-right"></i></button></a>              
            </div>
          </div>
      </div>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='350px' height='180px' img src="{% static 'images/humble-crib-wordpress.png' %}"  alt="image">
          <div>
            <p style="font-family: Poppins-Bold" class="font-bold text-xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 via-blue-300 to-blue-600">Humble Crib - Wordpress Website</p>
            <p class='text-justify my-3'>Humble Crib website UI design project that was created using Wordpress. It features a clean and modern design with easy navigation, making it a great user experience.</p>
            <ul class='mb-3'>
              <li>&#9989; Modern UI</li>
              <li>&#9989; Responsive Design</li>
              <li>&#9989; Easy Navigation</li>
            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-wordpress"></i> Wordpress</span>

            </div>
            <div class='flex space-x-4 my-3'>
              <a href='https://github.com/IsaacZachary/h2i'  target = '_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'><i class="bi bi-github"></i> Github</button></a>
              <a href='https://www.linkedin.com/posts/isaaczachary_webdevelopment-wordpress-elementor-activity-7068172404589510656-4v3R/?utm_source=share&utm_medium=member_desktop' target = '_blank'><button class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'>Demo <i class="bi bi-box-arrow-up-right"></i></button></a>              
            </div>
          </div>
      </div>
      <div class='flex justify-center'>
        <a href='https://github.com/IsaacZachary/h2i' target='_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-blue-600 outline hover:outline-none outline-blue-600 transition delay-75 ease-in-out my-3'>Load more <i class="bi bi-arrow-clockwise font-extrabold"></i></button></a>
      </div>
</div>
      {% endblock %}